/* Group 4 */

position: absolute;
width: 526.22px;
height: 80.03px;



/* Group 3 */

position: absolute;
width: 526.22px;
height: 80.03px;



/* g42 */

position: absolute;
left: 11.5%;
right: 86.52%;
top: 100%;
bottom: -10.29%;

transform: matrix(1, 0, 0, -1, 0, 0);


/* path44 */

position: absolute;
left: 11.5%;
right: 86.52%;
top: 100%;
bottom: -10.29%;

background: #31ECE6;
transform: matrix(1, 0, 0, -1, 0, 0);


/* g46 */

position: absolute;
left: 2.11%;
right: 85.08%;
top: 78.06%;
bottom: -29.45%;

transform: matrix(1, 0, 0, -1, 0, 0);


/* path48 */

position: absolute;
left: 2.11%;
right: 85.08%;
top: 78.06%;
bottom: -29.45%;

background: #31ECE6;
transform: matrix(1, 0, 0, -1, 0, 0);


/* g50 */

position: absolute;
left: 6.38%;
right: 83.28%;
top: 76.55%;
bottom: -4.8%;

transform: matrix(1, 0, 0, -1, 0, 0);


/* path52 */

position: absolute;
left: 6.38%;
right: 83.28%;
top: 76.55%;
bottom: -4.8%;

background: #31ECE6;
transform: matrix(1, 0, 0, -1, 0, 0);


/* g54 */

position: absolute;
left: 0%;
right: 86.52%;
top: 100%;
bottom: -100%;

transform: matrix(1, 0, 0, -1, 0, 0);


/* path56 */

position: absolute;
left: 0%;
right: 86.52%;
top: 100%;
bottom: -100%;

background: #31ECE6;
transform: matrix(1, 0, 0, -1, 0, 0);


/* g58 */

position: absolute;
left: 25.81%;
right: 67.8%;
top: 80.08%;
bottom: -37.47%;

transform: matrix(1, 0, 0, -1, 0, 0);


/* path60 */

position: absolute;
left: 25.81%;
right: 67.8%;
top: 80.08%;
bottom: -37.47%;

background: #FFFFFF;
transform: matrix(1, 0, 0, -1, 0, 0);


/* g62 */

position: absolute;
left: 33.15%;
right: 62.98%;
top: 80.08%;
bottom: -21.39%;

transform: matrix(1, 0, 0, -1, 0, 0);


/* path64 */

position: absolute;
left: 33.15%;
right: 62.98%;
top: 80.08%;
bottom: -21.39%;

background: #FFFFFF;
transform: matrix(1, 0, 0, -1, 0, 0);


/* g66 */

position: absolute;
left: 37.51%;
right: 56.17%;
top: 80.94%;
bottom: -23.12%;

transform: matrix(1, 0, 0, -1, 0, 0);


/* path68 */

position: absolute;
left: 37.51%;
right: 56.17%;
top: 80.94%;
bottom: -23.12%;

background: #FFFFFF;
transform: matrix(1, 0, 0, -1, 0, 0);


/* path70 */

position: absolute;
left: 44.98%;
right: 53.55%;
top: 80.08%;
bottom: -38.08%;

background: #FFFFFF;
transform: matrix(1, 0, 0, -1, 0, 0);


/* g72 */

position: absolute;
left: 47.6%;
right: 45.93%;
top: 97.37%;
bottom: -55.97%;

transform: matrix(1, 0, 0, -1, 0, 0);


/* path74 */

position: absolute;
left: 47.6%;
right: 45.93%;
top: 97.37%;
bottom: -55.97%;

background: #FFFFFF;
transform: matrix(1, 0, 0, -1, 0, 0);


/* g76 */

position: absolute;
left: 55.81%;
right: 38.46%;
top: 80.08%;
bottom: -40.58%;

transform: matrix(1, 0, 0, -1, 0, 0);


/* path78 */

position: absolute;
left: 55.81%;
right: 38.46%;
top: 80.08%;
bottom: -40.58%;

background: #FFFFFF;
transform: matrix(1, 0, 0, -1, 0, 0);


/* g80 */

position: absolute;
left: 62.39%;
right: 33.35%;
top: 80.94%;
bottom: -33.23%;

transform: matrix(1, 0, 0, -1, 0, 0);


/* path82 */

position: absolute;
left: 62.39%;
right: 33.35%;
top: 80.94%;
bottom: -33.23%;

background: #FFFFFF;
transform: matrix(1, 0, 0, -1, 0, 0);


/* g84 */

position: absolute;
left: 70.35%;
right: 22.52%;
top: 80.08%;
bottom: -37.47%;

transform: matrix(1, 0, 0, -1, 0, 0);


/* path86 */

position: absolute;
left: 70.35%;
right: 22.52%;
top: 80.08%;
bottom: -37.47%;

background: #31ECE6;
transform: matrix(1, 0, 0, -1, 0, 0);


/* g88 */

position: absolute;
left: 77.97%;
right: 17.75%;
top: 80.08%;
bottom: -21.57%;

transform: matrix(1, 0, 0, -1, 0, 0);


/* path90 */

position: absolute;
left: 77.97%;
right: 17.75%;
top: 80.08%;
bottom: -21.57%;

background: #31ECE6;
transform: matrix(1, 0, 0, -1, 0, 0);


/* g92 */

position: absolute;
left: 83.04%;
right: 11.11%;
top: 80.94%;
bottom: -22.43%;

transform: matrix(1, 0, 0, -1, 0, 0);


/* path94 */

position: absolute;
left: 83.04%;
right: 11.11%;
top: 80.94%;
bottom: -22.43%;

background: #31ECE6;
transform: matrix(1, 0, 0, -1, 0, 0);


/* g96 */

position: absolute;
left: 90.14%;
right: 4.93%;
top: 80.94%;
bottom: -23.29%;

transform: matrix(1, 0, 0, -1, 0, 0);


/* path98 */

position: absolute;
left: 90.14%;
right: 4.93%;
top: 80.94%;
bottom: -23.29%;

background: #31ECE6;
transform: matrix(1, 0, 0, -1, 0, 0);


/* g100 */

position: absolute;
left: 95.46%;
right: 0%;
top: 80.94%;
bottom: -33.84%;

transform: matrix(1, 0, 0, -1, 0, 0);


/* path102 */

position: absolute;
left: 95.46%;
right: 0%;
top: 80.94%;
bottom: -33.84%;

background: #31ECE6;
transform: matrix(1, 0, 0, -1, 0, 0);
